apiVersion: v1
kind: Service
metadata:
  labels:
    app: hello-http-staging
  annotations:
    cloud.google.com/load-balancer-type: "Internal"
  name: hello-http-staging
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: hello-http-staging
  type: LoadBalancer
