# Copyright 2017 The Bazel Authors. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# In case you only have ipv6, you may need this:
# https://github.com/bazelbuild/bazel/issues/2486#issuecomment-657932374
# But this breaks buildkite
#startup --host_jvm_args=-Djava.net.preferIPv6Addresses=true

build --workspace_status_command=./hack/print-workspace-status.sh
build --verbose_failures
build --define=TAG=staging

run --workspace_status_command=./hack/print-workspace-status.sh

# https://docs.bazel.build/versions/main/bazel-and-java.html#hermetic-testing-and-compilation
build --java_runtime_version=remotejdk_11
run --java_runtime_version=remotejdk_11
test --java_runtime_version=remotejdk_11

# https://github.com/bazelbuild/rules_jvm_external/issues/445
build --repo_env=JAVA_HOME=../bazel_tools/jdk

test --test_output=errors

# Taken from https://github.com/grpc/grpc/blob/66b045636018505dfa2654e62003d9596733076b/tools/bazel.rc
# Builds fail on MacOS otherwise
build --copt=-DGRPC_BAZEL_BUILD

# Maybe interesting
# https://github.com/bazelbuild/rules_docker/issues/2016
# https://github.com/bazelbuild/rules_docker/issues/2078
